<div class="content-body">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#tab1" class="action" data-toggle="tab">tab 1</a></li>
        <li><a href="#tab2" class="action" data-toggle="tab">tab 2</a></li>
        <li><a href="#tab3" class="action" data-toggle="tab">tab 3</a></li>
        <li class="dropdown"><a class="action dropdown-toggle" data-toggle="dropdown">tab 4 <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="#tab5" class="action" data-toggle="tab">tab 5</a></li>
                <li><a href="#tab6" class="action" data-toggle="tab">tab 6</a></li>
                <li class="divider"></li>
                <li><a href="#tab7" class="action" data-toggle="tab">tab 7</a></li>
            </ul>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="tab1">woohoo...this is tab 1</div>
        <div class="tab-pane" id="tab2">ohhh yea...tab 2</div>
        <div class="tab-pane" id="tab3">sweeeeeet...tab 3</div>
        <div class="tab-pane" id="tab5">now that's what I'm talking about</div>
        <div class="tab-pane" id="tab6">funky stuff...</div>
        <div class="tab-pane" id="tab7">seriously serious...you know what I mean?</div>
    </div>
</div>
