<div class="row">
    <div class="col-md-12">
        <div class="navbar-form">
            <div class="form-group slider-container">
                <div class="slider navbar-form"></div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="navbar-form">
            <div class="form-group pull-right">
                <div class="input-group">
                    <span class="input-group-addon current-time-code">00:00:00:00</span><span class="input-group-addon end-time-code"></span>
                </div>
                <div class="btn-group navbar-nav pull-right">
                    <button class="btn navbar-btn btn-default action-start" title="ctrl + left"><i class="fa fa-step-backward"></i></button>
                    <button class="btn navbar-btn btn-default action-backward" title="left"><i class="fa fa-fast-backward"></i></button>
                    <button class="btn navbar-btn btn-default action-play-pause" title="space"><i class="fa fa-play"></i></button>
                    <button class="btn navbar-btn btn-default action-forward" title="right"><i class="fa fa-fast-forward"></i></button>
                    <button class="btn navbar-btn btn-default action-end" title="ctrl + right"><i class="fa fa-step-forward"></i></button>
                    <button class="btn navbar-btn btn-default action-volume" title="ctrl + up, ctrl + down"><i class="fa fa-volume-up"></i></button>
                    <!--<div class="volume-slider"></div>-->
                    <button class="btn navbar-btn btn-default action-fullscreen" title="fullscreen"><i class="fa fa-expand"></i></button>
                    <button class="btn navbar-btn btn-default action-metadata" title="metadata"><i class="fa fa-list-alt"></i></button>
                    <button class="btn navbar-btn btn-default action-text-safety" title="text safety"><i class="fa fa-tablet"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>
